
<!DOCTYPE html>
<html>
<head>
	<title>Sushmitha</title>
	<head>
    {% load static %}
    <title>Sushmitha</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
  </head>
	
</head>
<body>
	<br>
  <header style="text-align: center; font-size: 30px; font-weight: bold; font-family: 'Lucida Sans';"> MY PERSONAL PORTFOLIO </header><hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/me.jpg' %}" >
					<br />
            <h4>Hey there, I'm Sushmitha!</h3>
            <p">
            I love UI/UX designing, Frontend
              Development, Psychology and doing research.
            </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>A little about me</h4>
            <p>I’m a Computer Science Engineer from Jain (Deemed-to-be) University. With a strong passion for UI/UX design and a keen interest in Frontend Development, I have honed my skills by working on projects that utilize modern web technologies like HTML, CSS (with TailwindCSS), Next.js, React, and TypeScript/JavaScript. Through these experiences, I’ve developed an eye for clean design and efficient coding practices, making me adept at creating seamless and visually appealing user interfaces.
              <br>
              Outside of the tech world, I have a creative and curious side. I’m passionate about baking and cooking, finding joy in experimenting with flavors and creating something delightful. A bookworm at heart, I love immersing myself in fictional worlds, and my interest in psychology keeps me exploring how the human mind works—a pursuit that complements my curiosity for design and user experiences.
              <br>
              And of course, I’m an animal lover! Spending time with cats and dogs brings me peace and happiness, and I believe there’s something profoundly grounding about connecting with our furry companions.
              <br>
              Feel free to reach out—I’m active on LinkedIn and would be more than happy to connect, collaborate, or assist in any way I can. Let’s build, learn, and grow together! 😊</p>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Fresher</h5>
					<hr>
					  <p><b>MACHINE LEARNING PROJECTS</b></p>
            <p>I used basic Python and Machine learning algorithms and manipulated the dataset to create dofferent Machine learning models. Check them out!</p>
            <a href="https://www.kaggle.com/code/bansushmithareddy/fishweightpm">Fish Weight Prediction Model</a>
            <a href="https://www.kaggle.com/code/bansushmithareddy/hill-and-valley-pm">Hill Height and Valley Depth prediction model</a>
            <br>
            <p><b>FRONTEND/FULLSTACK PROJECTS</b></p>
            <p>I used various tech stacks and built both simple and complex Frontend and Fullstack projects</p>
            <a href="first-next-juno-u1k9.vercel.app/">Notion Clone - Juno</a>
            <a href="https://sushmitha2410.github.io/Celeste/home.html
            ">Celeste - An ecommerce shopping website</a>
            <a href="https://furusato-2ev1.vercel.app/ ">Furusato - A beginner's guide to Japan</a>            
            </p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>
            <b>TECHNICAL SKILLS</b><br>Frontend Development:HTML, CSS, and JavaScript, TypeScript, React and Next.js, Bootstrap and TailwindCSS<br>UI/UX Design: Proficient in Figma for designing and prototyping intuitive user interfaces.<br>Backend Development: Experience with Python and Django for server-side development.<br>Currently Learning: Java, SpringBoot, and REST APIs.
            <br><b>NON-TECHNICAL SKILLS</b><br>        
            Psychology: I’m passionate about understanding the human mind, which often influences my approach to UI/UX design.<br>YouTube Content Creation: Learning video production and storytelling to create engaging content for platforms like YouTube.<br>Research: Delving into trends and topics that enrich both my technical and non-technical knowledge.
          </p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
          <p><b>Docs, Project based learning using YouTube tutorials, Ugly Prototypes to learn debugging.</b></p>
					<p>I start by watching videos or reading documentation to grasp what a tech stack does and why it’s used. Then, I follow expert tutorials, beginning with simple prototypes to understand the basics. Gradually, I tackle two more projects, each more complex, before confidently building my own unique project from scratch.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>
          1. Enhance my skills in React, TypeScript, and Next.js by building real-world projects. <br> 
          2. Strengthen backend development with Java, Spring Boot, and REST APIs through practical applications. <br> 
          3. Create an advanced ML project integrated into a web app.  <br>  
          4. Begin sharing knowledge via YouTube tutorials.  <br>  
          5. Improve my portfolio with polished, impactful projects.  <br>  
          6. Explore psychology to apply its principles in crafting better UI/UX designs.  </p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
